/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Examples */
/* @media (min-width: 425px) { */
/* @media (min-width: 768px) { */
/* @media (min-width: 1024px) { */
/* @media (min-width: 1200px) { */
/* Variables */
:root {
  --color-red: #e43a47;
  --color-white: #fff;
  --color-light-gray: #efefef;
  --color-dark-gray: #2c2c2c;
  --color-black: #000;

  --max-width: 1200px;
  --menu-height: 64px;

  --screen-sm: 425px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1200px;

  --padding-half: 6px;
  --padding: 12px;

  --border-radius-sm: 3px;
  --border-radius-md: 6px;
  --border-radius-lg: 12px;

  --font-main: 'Poppins', sans-serif;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;
  --font-size-xxl: 35px;

  --box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 62px;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  font-family: var(--font-main);
  font-size: var(--font-size-md);
}

/* --screen-sm */
@media (min-width: 425px) {
  body {
    --font-size-sm: 13px;
    --font-size-md: 15px;
    --font-size-lg: 19px;
    --font-size-xl: 23px;
    --font-size-xxl: 36px;
  }
}
/* --screen-md */
@media (min-width: 768px) {
  body {
    --padding-half: 7px;
    --padding: 14px;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 37px;
  }
}
/* --screen-lg */
@media (min-width: 1024px) {
  body {
    --font-size-sm: 15px;
    --font-size-md: 17px;
    --font-size-lg: 21px;
    --font-size-xl: 25px;
    --font-size-xxl: 38px;
  }
}
/* --screen-xl */
@media (min-width: 1200px) {
  body {
    --padding-half: 8px;
    --padding: 16px;

    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 20px;

    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 22px;
    --font-size-xl: 26px;
    --font-size-xxl: 39px;
  }
}

button {
  font-family: var(--font-main);
}

p {
  font-size: var(--font-size-md);
  line-height: 2;
}

button,
a.button {
  background-color: var(--color-red);
  border: none;
  border-radius: var(--border-radius-sm);
  outline: none;
  color: var(--color-white);
  padding: var(--padding-half) var(--padding);
  margin-top: var(--padding);
  font-size: var(--font-size-md);
  font-weight: 600;
  transition: 1.5s;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

button:hover,
a.button:hover {
  box-shadow: 0 12px var(--padding) 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-copy-bank-details {
  display: inline-flex;
  align-items: center;
  background-color: azure;
  color: rgb(38, 116, 112);
  border: 1px solid rgb(43, 36, 36);
  border-radius: 10px;
  padding: 4px 6px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-contact-form {
  cursor: pointer;
  color: var(--color-white);
  font-size: var(--font-size-lg);
  background-color: var(--color-red);
  transition: box-shadow 0.3s;
}

.button-contact-form:hover {
  box-shadow: var(--box-shadow);
}

a {
  text-decoration: none;
  color: brown;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

/** Header */
header {
  width: 100%;
  height: var(--menu-height);
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  z-index: 2;
}

.headerContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLogo {
  display: block;
  height: var(--menu-height);
}

.headerLogo img {
  height: var(--menu-height);
  margin-left: 13px;
}
.headerLang {
  max-width: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.headerLang a {
  text-decoration: none;
  opacity: 0.5;
}
.headerLang a:hover {
  opacity: 1;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li a {
  display: inline-block;
  height: var(--menu-height);
  line-height: var(--menu-height);
  padding: 0 var(--padding);
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--font-size-md);
  color: var(--color-white);
  transition: 0.5s;
  white-space: nowrap;
}

header nav ul li a:hover {
  background-color: var(--color-red);
}

@media screen and (max-width: 768px) {
  header nav {
    position: relative;
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    border-radius: var(--border-radius-sm);
    margin-right: var(--padding);
    cursor: pointer;
  }

  header nav:after {
    top: var(--padding-half);
  }

  header nav:before {
    bottom: var(--padding-half);
  }

  header nav:after,
  header nav:before {
    content: '';
    height: 3px;
    width: 17px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 5px;
  }

  header nav ul {
    position: absolute;
    right: -400px;
    top: 45px;
    right: -18px;
    transition: 0.5s;
    width: 300px;
    flex-wrap: wrap;
    width: 0;
  }

  header nav:hover ul {
    right: 0;
    width: 230px;
  }

  header nav ul li {
    display: block;
  }

  header nav ul li a {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.content {
  margin-top: var(--menu-height);
  position: relative;
}

.center {
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  padding: calc(var(--padding) * 2) 0;
  width: 100%;
}
footer .footerContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footerMain {
  padding: var(--padding);
  min-width: 500px;
  width: 50%;
}

footer .footerMainLogoContainer {
  display: flex;
}

footer .footerMainLogoContainer p {
  font-size: var(--font-size-xxl);
}

footer .footerMainLogo {
  width: 70px;
  display: block;
  margin-right: var(--padding);
}
footer .footerMainLogo img {
  width: 100%;
}

.footerMainQuote {
  font-size: var(--font-size-xl);
  font-style: italic;
}

footer .footerSide {
  min-width: 500px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

footer .footerSideBlock {
  padding: var(--padding);
  min-width: 250px;
  width: 50%;
}

.footerSideTitle {
  font-size: var(--font-size-lg);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: var(--padding);
}

.accountNumber {
  white-space: nowrap;
}

footer .footerSide ul {
  list-style-type: none;
  padding: 0;
}

footer .footerSide ul li {
  margin: var(--padding-half) 0;
}

footer .footerSide p {
  margin-bottom: var(--padding);
}

footer .footerSide ul li a,
footer .footerSide a {
  color: var(--color-white);
  text-decoration: none;
}

footer .footerSide ul li a:hover,
footer .footerSide a:hover {
  text-decoration: underline;
}

footer .footerCopyright {
  text-align: center;
  margin: var(--padding);
}

footer .button-copy-footer {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-dark-gray);
  color: rgb(143, 121, 121);
  border: 1px solid rgb(29, 27, 27);
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer .button-copy-footer:hover {
  background-color: #2c2c00;
}