section {
  position: relative;
  max-width: 1200px;
  margin: calc(var(--padding) * 6) auto;
  padding: var(--padding);
}
.sectionTitle {
  max-width: 300px;
  border-bottom: 3px solid var(--color-red);
  text-align: center;
  font-size: var(--font-size-xxl);
  font-weight: 200;
  margin: 0 auto calc(var(--padding) * 3);
  position: relative;
  padding: var(--padding) 0;
  text-transform: uppercase;
}
.sectionTitle::after {
  display: inline-block;
  content: '';
  height: var(--padding);
  width: var(--padding);
  background-color: var(--color-red);
  position: absolute;
  left: calc(50% - 10px);
  bottom: 4px;
  transform: rotate(45deg) translate(50%, 50%);
  border: 3px solid #fff;
}

.sectionTitle--xl {
  max-width: 600px;
}

.sectionTitle--lg {
  max-width: 500px;
}

.sectionTitle--md {
  max-width: 400px;
}

.pageContainer {
  padding: var(--padding);
}
.pageContainer p {
  margin: var(--padding) 0;
}
.pageContainer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pageContainer .links .pageLink {
  display: block;
  width: 220px;
  height: 150px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  margin: var(--padding);
  padding: var(--padding);
  align-content: center;
}
.pageContainer ul {
  padding: var(--padding);
}
.advice {
  background-color: rgba(228, 58, 71, 0.5);
  border-radius: var(--padding);
  padding: var(--padding);
}

.homeHead {
  min-height: calc(100vh - var(--menu-height));
  height: calc(100vh - var(--menu-height));
  width: 100%;
  background-image: url(/img/banner.avif);
  background-size: cover;
  background-attachment: fixed;
}
@supports (-webkit-touch-callout: none) {
  .homeHead {
    background-attachment: scroll;
  }
}

@supports not (-webkit-touch-callout: none) {
  .homeHead {
    background-attachment: fixed;
  }
}
.homeHeadContainer {
  max-width: var(--max-width);
  padding: 15vh var(--padding) 0;
  margin: 0 auto;
}
.homeHeadBlock {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: var(--padding);
  padding: var(--padding);
  max-width: 50%;
}
.homeHead h1 {
  display: inline-block;
  font-size: 3.5rem;
  text-shadow: 0 0 2px #000;
  line-height: 4.2rem;
  font-weight: 100;
}
.homeHead h1 span {
  display: inline-block;
  line-height: 3.5rem;
  padding: 0 var(--padding);
  white-space: nowrap;
  font-weight: 600;
  border-radius: 5px;
}
.homeHead p {
  text-shadow: 0 0 2px #000;
  font-size: var(--font-size-lg);
}
.homeHead .button {
  color: var(--color-black);
  text-shadow: none;
  font-size: var(--font-size-lg);
}

/* AboutSection style start */
#aboutSection p {
  text-align: center;
  margin-bottom: var(--padding);
}

#aboutSection .aboutCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: calc(var(--padding) * 3);
  position: relative;
  height: auto;
}

#aboutSection .aboutCards .card {
  width: 350px;
  height: 215px;
  margin: 5px auto;
  background-color: var(--color-light-gray);
  padding: calc(var(--padding) * 2);
  color: var(--color-dark-gray);
  text-align: center;
  border-radius: var(--padding-half);
  border: 1px solid #ccc;
  transition: 1s;
}

#aboutSection .aboutCards .card:hover {
  box-shadow: var(--box-shadow);
}

#aboutSection .aboutCards div.card .title {
  font-size: var(--font-lg);
  font-weight: 600;
  text-transform: uppercase;
}

#aboutSection .aboutCards div.card p {
  font-size: var(--font-md);
  margin-top: var(--padding);
}

#aboutSection .aboutCards div.card .button {
  border: 1px solid var(--color-red);
  font-size: var(--font-md);
}

#aboutSection .aboutCards div.card:hover .button {
  background-color: var(--color-red);
  color: var(--color-white);
}

#aboutSection .cards button:hover {
  box-shadow: var(--box-shadow);
}

@media (min-width: 425px) and (max-width: 425px) {
  #aboutSection .aboutCards {
    height: auto;
  }
}

@media (min-width: 768px) {
  #aboutSection .aboutCards {
    height: auto;
  }
}

@media (min-width: 1200px) {
  #aboutSection .aboutCards .card {
    width: 400px;
  }
}
/* AboutSection style end */

/* Program Section start */

#programsSection {
  background-color: #e2e2e2;
}

#programsSection .programsCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

@media screen and (max-width: 1024px) {
  #programsSection .programsCards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  #programsSection .programsCards {
    grid-template-columns: 1fr;
  }
}

#programsSection .programsCards .card {
  background-color: #fff;
  text-align: center;
  padding-bottom: calc(var(--padding) * 2);
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #c5c5c5;
  position: relative;
  margin-bottom: var(--padding);
  width: 100%;
}

#programsSection .programsCards .card .cardImageContainer {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#programsSection .programsCards .card .cardImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  filter: grayscale(100%);
  transition: 0.5s;
}

#programsSection .programsCards .card:hover .cardImage {
  filter: grayscale(0%);
  transition: 0.5s;
}

#programsSection .programsCards .card .title {
  font-size: var(--font-md);
  margin-top: var(--padding);
  font-weight: 600;
  color: #444;
}
#programsSection .programsCards .card .button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /* background-color: var(--color-red); */
  color: #fff;
  bottom: var(--padding);
  border: none;
  cursor: pointer;
  transition: 1s;
  bottom: -15px;
}
#programsSection .programsCards .card .button:hover {
  box-shadow: var(--box-shadow);
}

/* Program Section end */

#militarySection {
  padding: 0;
  min-height: 550px;
  overflow: hidden;
  position: relative;
}

#militarySection .videoPlayer {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -0%);
}

#militarySection .sectionTitle {
  color: #fff;
  text-shadow: 0 0 4px #fff;
}

#militarySection .militaryContainer {
  position: absolute;
  background-color: #00000096;
  width: 600px;
  color: #fff;
  text-shadow: 0 0 3px #000;
  padding: 30px;
}

#militarySection .militaryContainer h3 {
  font-size: 35px;
  font-weight: 300;
}

#militarySection .militaryContainer p {
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0 30px;
}

#militarySection .militaryContainer .button {
  background-color: var(--color-red);
  color: #fff;
  transition: 1s;
}

/* Gallery Section start */

.gallery .galleryContainer {
  column-count: 4;
  column-gap: 20px;
}

.gallery .galleryContainer .item,
.pageGallery {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.gallery .galleryContainer img,
.pageGallery img {
  width: 100%;
  display: block;
  transition: 0.5s;
}

.gallery .galleryContainer .title,
.pageGallery .title {
  position: absolute;
  background-color: var(--gray);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.gallery .galleryContainer .item:hover .title,
.pageGallery .item:hover .title {
  opacity: 1;
}

.gallery .galleryContainer .item:hover img,
.pageGallery .item:hover img {
  transform: scale(1.2);
}
/* Gallery Section end */


.form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.form label {
  font-size: var(--font-size-lg);
  display: block;
}

.form input {
  border-radius: 5px;
  padding: var(--padding-half);
  border: 1px solid #44444450;
  width: 100%;
  line-height: var(--font-size-lg);
}
.form textarea {
  border-radius: 5px;
  padding: var(--padding-half);
  border: 1px solid #44444450;
  width: 100%;
  line-height: var(--font-size-lg);
}

.form .formSuccess {
  padding: var(--padding);
  margin: var(--padding);
  border-radius: var(--padding);
  border: 1px solid green;
  background: #6be93952;
  text-align: center;
}
.form .formError {
  padding: var(--padding);
  margin: var(--padding) 0;
  border-radius: var(--padding);
  border: 1px solid rgba(195, 23, 23, 0.735);
  background: #f10f0f22;
  width: 100%;
}


.page404 p {
  font-size: var(--font-size-xl);
  text-align: center;
  max-width: 400px;
  margin: var(--padding) auto;
}


.albumModal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  cursor: zoom-out;
}
.albumModalContent {
  display: flex;
  align-items: center;
  margin: var(--padding) auto;
}

.albumModalControl {
  display: flex;
  width: 3vw;
  height: 95vh;
  cursor: pointer;
}
.albumModalControl svg{
  fill: #fff;
}

.albumModalImage, .albumModalVideo {
  display: none;
  max-width: 95vw;
  max-height: 95vh;
}
.albumModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}
.albumModalClose:hover,
.albumModalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.albumContainer {
  display: flex;
  gap: var(--padding);
  flex-wrap: wrap;
  max-width: var(--max-width);
  margin: var(--padding) auto;
}

.albumContainer .albumItem {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
  flex: 1 0 250px;
  max-width: 100%;

  margin: auto;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.albumContainer .albumItem:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.albumContainer .albumItem img,
.albumContainer .albumItem video {
  width: 100%;
  display: block;
  transition: 0.5s;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.albumContainer .albumItem:hover img{
  transform: scale(1.2);
}

.albumContainer .albumItemTitle {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.19);
  color: var(--color-white);
  top: 0;
  left: 0;
  padding: var(--padding);
  border-radius: 5px;
  font-size: var(--font-md);
  font-weight: bold;
  opacity: 0  ;
  z-index: 1;
  transition: 0.5s;
}

.albumContainer .albumItem:hover .albumItemTitle {
  opacity: 1;
}