
/* Banner */
.banner {
  min-height: 100vh;
  background: url('../imgs/banner.avif') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
  text-shadow: 0 0 2px var(--black);
}

.banner h1 {
  margin-top: 230px;
  font-size: 3.5rem;
  line-height: 4.2rem;
  font-weight: 100;
}

.banner h1 span {
  background-color: var(--theme-red);
  padding: 0 15px;
  font-weight: 600;
  border-radius: 5px;
}

.banner p {
  width: 50%;
  margin-top: 10px;
}

.banner button {
  margin-top: 20px;
}

/* About Section */
#aboutSection p {
  text-align: center;
  margin: 25px auto;
}

#aboutSection .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  height: 245px;
}

#aboutSection .cards > div {
  width: 350px;
  background-color: var(--gray);
  padding: 35px;
  text-align: center;
  border-radius: 5px;
  height: 215px;
  border: 1px solid #ccc;
  transition: 0.6s;
}

#aboutSection .cards > div:hover {
  width: 380px;
  margin-top: -20px;
  border-color: var(--theme-red);
  padding: 55px;
}

#aboutSection .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

#aboutSection .cards > div p {
  font-size: 14px;
  margin-top: 15px;
}

#aboutSection .cards > div button {
  border: 1px solid var(--theme-red);
  padding: 7px 15px;
  margin-top: 15px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

#aboutSection .cards > div:hover button {
  background-color: var(--theme-red);
  color: var(--white);
}

/* Programs Section */
.programs {
  background-color: #e2e2e2;
}

.programs .boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.programs .box {
  background-color: var(--white);
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #c5c5c5;
  position: relative;
}

.programs .box .cardImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.programs .box .cardImage::after {
  content: "";
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 0.5s;
}

.programs .box:nth-child(1) .cardImage,
.programs .box:nth-child(1) .cardImage::after {
  background-image: url(imgs/jezyk_polski.webp);
}

.programs .box:nth-child(2) .cardImage,
.programs .box:nth-child(2) .cardImage::after {
  background-image: url(imgs/art2.webp);
}

.programs .box:nth-child(3) .cardImage,
.programs .box:nth-child(3) .cardImage::after {
  background-image: url(imgs/klub_literacki.webp);
}

.programs .box:nth-child(4) .cardImage,
.programs .box:nth-child(4) .cardImage::after {
  background-image: url(imgs/koncerty_main_foto.webp);
}

.programs .box:hover .cardImage::after {
  top: 100%;
}

.programs .box .programTitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #444;
}

.programs .box button {
  position: absolute;
  left: 50%;
  background-color: var(--theme-red);
  color: var(--white);
  transform: translate(-50%);
  bottom: -15px;
  border-radius: 60px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.programs .box button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Military Section */
.military {
  height: 100vh;
  background: url("../imgs/military_main.webp") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.military h2 {
  font-size: 2rem;
  font-weight: 200;
}

.military p {
  width: 50%;
  margin-top: 10px;
}

/* Gallery Section */
.gallery {
  background-color: #e2e2e2;
}

.gallery .boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

/* Join Section */
.join {
  background-color: #e2e2e2;
  text-align: center;
}

.join .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.join .form {
  background-color: var(--white);
  padding: 40px;
  box-shadow: 0 0 5px 0 #ccc;
  border-radius: 5px;
}

.join .form h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

.join .form input,
.join .form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.join .form button {
  margin-top: 20px;
}


/* Menu section start here */


.menus-area {
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  padding: 100px;
  color: white;
}

.menus-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: -1;
  opacity: .80;
  left: 0;
  top: 0;
  padding: 100px 0;
  color: #fff;
}

.menu-title {
  text-align: center;
  margin-bottom: 60px;
}

.menu-title h4 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
}

img {
  width: 300px;
  height: auto;
}

.menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-items {
  flex-basis: 32%;
}

.title-menu {
  background-color: #ff7720;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.single-menu {
  background-color: #333;
  border: 1px solid #ddd;
  padding: 25px;
  text-align: center;
  position: relative;
  transform: .3s;
  margin-bottom: 20px;
  min-height: 380px;
}

.single-menu:hover {
  border-color: #ff7720;
  border-radius: 7px;
}

.single-menu span {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff7720;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 15px 0 0 0;
}

.single-menu img {
  max-width: 200px;
  border: 1px solid #ddd;
  padding: 3px;
  transition: .3s;
}

.single-menu:hover img {
  border-radius: 50%;
}

.single-menu h4 {
  border-bottom: 1px dashed #ddd;
  margin: 10px 0;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 24px;
}

.single-menu a {
  display: inline-block;
  color: #ff7720;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 30px;
}
/*
@media only screen and (max-width: 767px) {
  .container {
    width: 350px;
  }
  .menu-title h4 {
    font-size: 34px;
    line-height: 50px;
  }
  .menu-items {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
} */