RewriteEngine On
RewriteRule ^(ua|pl|en)\/?$ /index.php?lang=$1 [L,QSA]

RewriteRule ^(ua|pl|en)/(donate|language|art|club|concerts|regulations|military)$ /page.php?page=$2&lang=$1 [L,QSA]

RewriteRule ^(donate|language|art|club|concerts|regulations|military)$ /page.php?page=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404.php [L]