RewriteEngine On
RewriteRule ^(ua|pl|en)\/?$ /index.php?lang=$1 [L,QSA]

RewriteRule ^(ua|pl|en)/(donate|language|art|club|concerts|regulations|military|cafe)$ /page.php?page=$2&lang=$1 [L,QSA]
RewriteRule ^(donate|language|art|club|concerts|regulations|military|cafe)$ /page.php?page=$1 [L,QSA]

RewriteRule ^(ua|pl|en)/(form)$ /form.php?page=$2&lang=$1 [L,QSA]
RewriteRule ^(form)$ /form.php?page=$1 [L,QSA]

RewriteRule ^(ua|pl|en)/(subscribe)$ /form.php?subscribe=polish&page=form&lang=$1 [L,QSA]
RewriteRule ^(subscribe)$ /form.php?subscribe=polish&page=form [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404.php [L]